<!--
    Author: Juan Diego Pérez @pekechis
    E-mail: contact@jdperez.es
    Description: Using Css and Html create a layout as close as similar to
    https://github.com/pekechis/teaching_examples/blob/master/CSS/Layout/ex01/solution.png
    Date: November 2015
    Reference: http://www.learnlayout.com/
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout CSS</title>
    <link rel="stylesheet" type="text/css" href="layout.css">
  </head>
  <body>
     <div id="container">
       <div id="cabecera">
         <div id="c1">
            <div id="c1titulo">
              <h1>IES Triana</h1>
              <p>
                A Css Layout for training
              </p>
            </div>
         </div>
         <div id="c2">
             <div id="c2contenido">
               <h5>
                 Great Design
               </h5>
               <h4>
                 Guarenteed
               </h4>
             </div>
         </div>
         <div id="c3">
             <div id="c3contenido">
                <h3>Client Testimonials</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua.
                </p>
             </div>
         </div>
       </div>
       <div id="contenido">
          <div id="menus">
            <div id="menu1">
              <ul>
                <li>HOME</li>
                <li>ABOUT</li>
                <li>PRODUCTS</li>
                <li>SERVICES</li>
                <li>NEWS</li>
                <li>CONTACT</li>
                <li>NOGO</li>
              </ul>
            </div>
            <div id="menu2">
              <ul>
                <li>Lorem ipsum</li>
                <li>dolor sit ament</li>
                <li>Consecteur adipisicing</li>
                <li>Cras Tristique</li>
              </ul>
            </div>
          </div>
          <div id="main">
            <div id="main_left">
                <h4>Our Services</h4>
                <div class="left">
                    <div class="img">
                      <img src="trash_can.jpg">
                    </div>
                    <div class="text">
                      <h3>Service Name One</h3>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                      et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                      aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                      dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                      officia deserunt mollit anim id est laborum.
                    </div>
                </div>
                <div class="left">
                  <div class="img">
                    <img src="trash_can.jpg">
                  </div>
                  <div class="text">
                    <h3>Service Name One</h3>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                    dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                    officia deserunt mollit anim id est laborum.
                  </div>
                </div>
                <div class="left">
                  <div class="img">
                    <img src="trash_can.jpg">
                  </div>
                  <div class="text">
                    <h3>Service Name One</h3>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                    dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                    officia deserunt mollit anim id est laborum.
                  </div>
                </div>
          </div>
          <div id="main_right">
              <h4>Some Contents</h4>
              <div class="right">
                <p>Service Name One</p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                officia deserunt mollit anim id est laborum.
              </div>
              <div class="right">
                <p>Service Name One</p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                officia deserunt mollit anim id est laborum.
              </div>
              <div class="right">
                <p>Service Name One</p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                officia deserunt mollit anim id est laborum.
              </div>
          </div>
       </div>
       <div id="pie">
          <p>
              IES Triana @ All Rights Reserved
          </p>
          <p>
              Template provided for Css Course
          </p>
          <p>
              Css template by @pekechis
          </p>
       </div>
     </div>
  </body>
</html>
