* {
  box-sizing: border-box;
}

.centrado {
  width: 80%;
  margin: 0px auto;
}

#cabecera h1 {
  color: white;
  background-color: black;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 20px;
}

#cabecera p {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-b
  ottom: 0px;
  text-align: right;
}

#menu ul {
  padding-left: 0px;
  background-color: black;
  color: white;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 10px;
}

#menu li {
  display: inline;
  margin-left: 10px;
  padding: 15px;

}

#menu li:hover {
  background-color: white;
  color: black;
}

img {
  width: 200px;
}

#menulateral, #formulario {
  float:left;
  width: 25%;
}



h4 {
  background-color: black;
  color: white;
  text-align: center;
  margin-bottom: 0px;
}

#menulateral ul {
  padding-left: 0px;
  list-style: none;
  background-color: grey;
  height: 300px;
  margin-top: 5px;
}

#menulateral li {
  padding: 7px;
}

.blanco {
  background-color: white;
}

#imagen {
  float: left;
  width: 50%;
}

#marco {
  width: 210px;
  margin: 20px auto;
  background-color: grey;
  text-align: center;
  padding-top: 5px;
  height: 210px;
}

#boton {
  margin-top: 20px;
}

#pie {
  clear: both;
  background-color: black;
  color:white;
  text-align:center;
}
